/*
Default Buttons
*/
.btn-default {
    color: #9d2068;
    background-color: #FF6C99;
    border-color: #FF6C99;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.active:hover,
.open .dropdown-toggle.btn-default {
    color: #9d2068;
    background-color: #FFC66C;
    border-color: #FF6C99;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #FF6C99;
    border-color: #FF6C99;
}

.btn-default .badge {
    color: #FF6C99;
    background-color: #9d2068;
}

/*
Cute Buttons
*/
.btn-cute {
    color: #FFFFFF;
    background-color: #FF547F;
    border-color: #FF547F;
}

.btn-cute:hover,
.btn-cute:focus,
.btn-cute:active,
.btn-cute.active,
.btn-cute.active:hover,
.open .dropdown-toggle.btn-cute {
    color: #FFFFFF;
    background-color: #FF2B60;
    border-color: #FF547F;
}

.btn-cute:active,
.btn-cute.active,
.open .dropdown-toggle.btn-cute {
    background-image: none;
}

.btn-cute.disabled,
.btn-cute[disabled],
fieldset[disabled] .btn-cute,
.btn-cute.disabled:hover,
.btn-cute[disabled]:hover,
fieldset[disabled] .btn-cute:hover,
.btn-cute.disabled:focus,
.btn-cute[disabled]:focus,
fieldset[disabled] .btn-cute:focus,
.btn-cute.disabled:active,
.btn-cute[disabled]:active,
fieldset[disabled] .btn-cute:active,
.btn-cute.disabled.active,
.btn-cute[disabled].active,
fieldset[disabled] .btn-cute.active {
    background-color: #FF547F;
    border-color: #FF547F;
}

.btn-cute .badge {
    color: #FF547F;
    background-color: #FFFFFF;
}

/*
Cool Buttons
*/
.btn-cool {
    color: #FFFFFF;
    background-color: #0275F2;
    border-color: #0275F2;
}

.btn-cool:hover,
.btn-cool:focus,
.btn-cool:active,
.btn-cool.active,
.btn-cool.active:hover,
.open .dropdown-toggle.btn-cool {
    color: #FFFFFF;
    background-color: #004DFF;
    border-color: #0275F2;
}

.btn-cool:active,
.btn-cool.active,
.open .dropdown-toggle.btn-cool {
    background-image: none;
}

.btn-cool.disabled,
.btn-cool[disabled],
fieldset[disabled] .btn-cool,
.btn-cool.disabled:hover,
.btn-cool[disabled]:hover,
fieldset[disabled] .btn-cool:hover,
.btn-cool.disabled:focus,
.btn-cool[disabled]:focus,
fieldset[disabled] .btn-cool:focus,
.btn-cool.disabled:active,
.btn-cool[disabled]:active,
fieldset[disabled] .btn-cool:active,
.btn-cool.disabled.active,
.btn-cool[disabled].active,
fieldset[disabled] .btn-cool.active {
    background-color: #0275F2;
    border-color: #0275F2;
}

.btn-cool .badge {
    color: #0275F2;
    background-color: #FFFFFF;
}

/*
Passion Buttons
*/
.btn-passion {
    color: #FFFFFF;
    background-color: #FFAF3A;
    border-color: #FFAF3A;
}

.btn-passion:hover,
.btn-passion:focus,
.btn-passion:active,
.btn-passion.active,
.btn-passion.active:hover,
.open .dropdown-toggle.btn-passion {
    color: #FFFFFF;
    background-color: #FF9F0F;
    border-color: #FFAF3A;
}

.btn-passion:active,
.btn-passion.active,
.open .dropdown-toggle.btn-passion {
    background-image: none;
}

.btn-passion.disabled,
.btn-passion[disabled],
fieldset[disabled] .btn-passion,
.btn-passion.disabled:hover,
.btn-passion[disabled]:hover,
fieldset[disabled] .btn-passion:hover,
.btn-passion.disabled:focus,
.btn-passion[disabled]:focus,
fieldset[disabled] .btn-passion:focus,
.btn-passion.disabled:active,
.btn-passion[disabled]:active,
fieldset[disabled] .btn-passion:active,
.btn-passion.disabled.active,
.btn-passion[disabled].active,
fieldset[disabled] .btn-passion.active {
    background-color: #FFAF3A;
    border-color: #FFAF3A;
}

.btn-passion .badge {
    color: #FFAF3A;
    background-color: #FFFFFF;
}