/* GLOBAL STYLES
-------------------------------------------------- */

body {
    /*padding-bottom: 40px;*/
    background: inherit;
    font-family: 'M+ C Type-1 (basic latin) Regular',
    'M+ Type-2 (general-j) Regular', sans-serif;
    font-size: 1.6em;
}

.awkSRCardImage {
    display: none;
}

.baseSRCardImage {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.awakened {
    display: none;
}

.noLinkStyle {
    text-decoration: inherit;
    color: inherit;
}

.cardInfo {
    display: none;
}

.popover-title {
    text-align: center;
}
.popover-content {
    text-align: center;
}

#levelMax {
    display: none;
}

/*#cardArt:hover .awkSRCardImage {
    display: block;
}

#cardArt:hover .baseSRCardImage {
    display: none;
}*/

.panel-heading.cute {
    background-color: #ff6c99;
    border-color: #ff6c99;
    color: #ce003f;
}

.panel-heading.cute i{
    font-size: 1.5em;
}

.panel-heading.cute span{
    font-size: 1.5em;
}

.panel-heading.cool {
    background-color: #80BCF0;
    border-color: #80BCF0;
    color: #187ace;
}

.panel-heading.cool i{
    font-size: 1.5em;
}

.panel-heading.cool span{
    font-size: 1.5em;
}

.panel-heading.passion {
    background-color: #F8D060;
    border-color: #F8D060;
    color: #b38608;
}

.panel-heading.passion i{
    font-size: 1.5em;
}

.panel-heading.passion span{
    font-size: 1.5em;
}

#idolBio {
    margin-top: 20px;
}

#idolBio span {
    font-size: 1.0em;
}

#idolBio p{
    margin-bottom: 15px;
}

.label-cute {
    background-color: #ff6c99;
}

.label-cute[href]:hover,
.label-cute[href]:focus {
    background-color: #ff6c99;
}

.cute {
    background-color: #ff6c99;
    border-color: #ff6c99;
}

.cool {
    background-color: #80BCF0;
    border-color: #80BCF0;
}

.passion {
    background-color: #F8D060;
    border-color: #F8D060;
}

    /*BACK TO TOP*/
#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 0.7;
}
#content {
    height: 2000px;
}

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

#clock {
    margin: 0px -15px;
    padding: 13px 15px 15px 15px;
}

.clock {
    margin: 0px -15px;
    padding: 13px 15px 15px 15px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

/*Change navbar color*/
.navbar-default {
    background-color: #ff6c99;
    border-color: #ffc66c;
    width: inherit;
}

.navbar-default .btn-default {
    background-color: #ffc66c;
}

.navbar-default .btn-default:hover,
.navbar-default .btn-default:focus {
    color: #ffc66c;
    background-color: #9d2068;
}

.navbar-default h1 {
    color: #ffe0e9;
    margin: 0px -15px;
    padding: 15px;
}

.navbar-default h2 {
    color: #ffe0e9;
    margin: 0px -15px;
    padding: 15px;
}

.navbar-default h3 {
    color: #ffe0e9;
    margin: 0px -15px;
    padding: 15px;
}

.navbar-default h4 {
    color: #ffe0e9;
    margin: 0px -15px;
    padding: 15px;
}

.navbar-default h5 {
    color: #ffe0e9;
    margin: 0px -15px;
    padding: 15px;
}

.navbar-default .navbar-brand {
    color: #ffe0e9;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #9d2068;
}

.navbar-default .navbar-text {
    color: #ffe0e9;
}

.navbar-default .navbar-nav > li > a {
    color: #ffe0e9;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #9d2068;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #ff6c99;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffe0e9;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #9d2068;
    background-color: #ffc66c;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #ff6c99;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #9d2068;
    background-color: #ffc66c;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #9d2068;
    background-color: #ffc66c;
}

.navbar-default .navbar-toggle {
    border-color: #ffc66c;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffc66c;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffe0e9;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffe0e9;
}

.navbar-default .navbar-link {
    color: #ffe0e9;
}

.navbar-default .navbar-link:hover {
    color: #9d2068;
}

/* MARKETING CONTENT
-------------------------------------------------- */

#contentContainer {
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
}

#pageContent {
    padding-top: 50px;
}

#pageContent hr {
    margin-top: 0;
}

#homeHeading {
    padding-top: 10px;
    text-align: center;
}

#homeHeading h3 {
    margin: 0;
}

#showText {
    display: none;
}

#hideLogo {
    display: none;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
}

.marketing .col-xs-12 {
    text-align: center;
}

.marketing .col-lg-4 img{
    margin-bottom: 5px;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-xs-12 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-2 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-2 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Featurettes
------------------------- */

/*.featurette-divider {
    margin: 80px 0; /!* Space out the Bootstrap <hr> more *!/
}*/

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

#puchis a {
    color: #000;
}

#puchis a h3 {
    margin-top: 10px;
}

.newsHeader {
    border: 2px solid #FF6C99;
    padding: 8px 10px;
    font-size: 120%;
    /*color: #c90;*/
    font-weight: bold;
    background-color: #FF6C99;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    /*width: 300px;*/
}

.news {
    border: 2px solid #FF6C99;
    padding: 8px 10px;
    font-size: 120%;
    /*color: #c90;*/
    font-weight: bold;
    /*background-color: #ff9;*/
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    height: 175px;
    /*width: 300px;*/
    overflow: auto;
}

.newsItem {
    padding-right: 10px;
}

.news a {
    color: #000000;
    font-size: 16px;
}

/* SEARCH / FILTER BAR
-------------------------------------------------- */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #ffc66c;
    border-color: #FFC66C;
    color: #9d2068;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: #FF6C99;
    border-color: #FFC66C;
    color: #FFE0E9;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #9d2068;
    text-decoration: underline;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.well {
    text-align: center;
    margin-bottom: 0;
    padding: 5px;
    background-color: #FF6C99;
    border-color: #FF6C99;
    color: #ffe0e9;
}

#filterSortForm {
    display: none;
}

/* IDOLS LIST
-------------------------------------------------- */
.nav-tabs#idolTabs {
    padding-top: 5px;
}

/*Cute Colored Tab*/
.nav-tabs > li.active#cute > a,
.nav-tabs > li.active#cute > a:hover,
.nav-tabs > li.active#cute > a:focus {
    background-color: #ff6c99;
    border-color: #ff6c99;
    color: #FFE0E9;
}

.nav-tabs > li#cute > a,
.nav-tabs > li#cute > a:hover,
.nav-tabs > li#cute > a:focus {
    background-color: #ff6c99;
    border-color: #ff6c99;
    color: #FFE0E9;
}

.nav-tabs > li#cute > a:hover,
.nav-tabs > li#cute > a:focus,
.nav-tabs > li.active#cute > a:hover,
.nav-tabs > li.active#cute > a:focus {
    color: #FFE0E9;
    text-decoration: underline;
}

/*Cool Colored Tab*/
.nav-tabs > li.active#cool > a,
.nav-tabs > li.active#cool > a:hover,
.nav-tabs > li.active#cool > a:focus {
    background-color: #80BCF0;
    border-color: #80BCF0;
    color: #FFFFFF;
}

.nav-tabs > li#cool > a,
.nav-tabs > li#cool > a:hover,
.nav-tabs > li#cool > a:focus {
    background-color: #80BCF0;
    border-color: #80BCF0;
    color: #FFFFFF;
}

.nav-tabs > li#cool > a:hover,
.nav-tabs > li#cool > a:focus,
.nav-tabs > li.active#cool > a:hover,
.nav-tabs > li.active#cool > a:focus {
    color: #FFFFFF;
    text-decoration: underline;
}

/*Passion Colored Tab*/
.nav-tabs > li.active#passion > a,
.nav-tabs > li.active#passion > a:hover,
.nav-tabs > li.active#passion > a:focus {
    background-color: #F8D060;
    border-color: #F8D060;
    color: #4a3e1c;
}

.nav-tabs > li#passion > a,
.nav-tabs > li#passion > a:hover,
.nav-tabs > li#passion > a:focus {
    background-color: #F8D060;
    border-color: #F8D060;
    color: #4a3e1c;
}

.nav-tabs > li#passion > a:hover,
.nav-tabs > li#passion > a:focus,
.nav-tabs > li.active#passion > a:hover,
.nav-tabs > li.active#passion > a:focus {
    color: #4a3e1c;
    text-decoration: underline;
}

.tab-content #cute{
    padding-top: 10px;
    border-radius: 10px;
}

#cuteIdols img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#cuteIdols p{
    text-align: center;
    color: #FFE0E9;
}

.tab-content #cool{
    padding-top: 10px;
    border-radius: 10px;
}

#coolIdols img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#coolIdols p{
    text-align: center;
    color: #FFFFFF;
}

.tab-content #passion{
    padding-top: 10px;
    border-radius: 10px;
}

#passionIdols img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#passionIdols p{
    text-align: center;
    color: #4a3e1c;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    /*    .navbar-wrapper {
            margin-top: 20px;
        }

        .navbar-wrapper .container {
            padding-right: 15px;
            padding-left: 15px;
        }*/
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    .featurette-heading {
        font-size: 50px;
    }

    #hideLogo {
        /*display: none;*/
    }

    #showText {
        display: block;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }

    #hideLogo {
        display: block;
    }

    #showText {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffe0e9;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #9d2068;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #9d2068;
        background-color: #ffc66c;
    }

    #hideLogo {
        display: none;
    }

    #showText {
        display: block;
    }
}
